{% extends "myapp/basic.html" %}
{% load static %}
{% block title %}all category{% endblock title %}

{% block main-content %}

{% if request.GET.category == "Furniture" %}
    <div class="container mt-4">
        <h2 ch2 style="font-weight: bold; margin: 20px 0; text-align: center;">Furniture Collection</h2>
        <div class="row">
            <div class="col-md-2">
                <a href="{% url 'category' 'OF' %}">
                    <img src="{% static 'app/images/product/off.jpg' %}" class="img-fluid rounded shadow product-img " alt="Image 1">
                </a>
                <h4 class="product-name">
                    <a href="{% url 'category' 'OF' %}" class="text-decoration-none text-dark">Office furniture</a>
                </h4>
            </div>
            <div class="col-md-2">
                <a href="{% url 'category' 'SP' %}">
                    <img src="{% static 'app/images/product/Poufs.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 2">
                </a>
                <h4 class="product-name">
                    <a href="{% url 'category' 'SP' %}" class="text-decoration-none text-dark">Stool&Pouffes</a>
                </h4>
            </div>
            <div class="col-md-2">
                <a href="{% url 'category' 'SF' %}">
                    <img src="{% static 'app/images/product/images (7).jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
                </a>
                <h4 class="product-name">
                    <a href="{% url 'category' 'SF' %}" class="text-decoration-none text-dark">Sofas</a>
                </h4>
            </div>
            <div class="col-md-2">
                <a href="{% url 'category' 'CH' %}">
                    <img src="{% static 'app/images/product/chair-cane.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
                </a>
                <h4 class="product-name">
                    <a href="{% url 'category' 'CH' %}" class="text-decoration-none text-dark">Chairs</a>
                </h4>
            </div>
            <div class="col-md-2">
                <a href="{% url 'category' 'TB' %}">
                    <img src="{% static 'app/images/product/table.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
                </a>
                <h4 class="product-name">
                    <a href="{% url 'category' 'TB' %}" class="text-decoration-none text-dark">Tables</a>
                </h4>
            </div>
            <div class="col-md-2">
                <a href="{% url 'category' 'WD' %}">
                    <img src="{% static 'app/images/product/waedrobe.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
                </a>
                <h4 class="product-name">
                    <a href="{% url 'category' 'WD' %}" class="text-decoration-none text-dark">Wardrobes</a>
                </h4>
            </div>
            <div class="col-md-2">
                <a href="{% url 'category' 'BE' %}">
                    <img src="{% static 'app/images/product/bedroom.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
                </a>
                <h4 class="product-name">
                    <a href="{% url 'category' 'BE' %}" class="text-decoration-none text-dark">Beds</a>
                </h4>
            </div>
            <div class="col-md-2">
                <a href="{% url 'category' 'SR' %}">
                    <img src="{% static 'app/images/product/shoe racks.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
                </a>
                <h4 class="product-name">
                    <a href="{% url 'category' 'SR' %}" class="text-decoration-none text-dark">Shoe Racks</a>
                </h4>
            </div>
            <div class="col-md-2">
                <a href="{% url 'category' 'CS' %}">
                    <img src="{% static 'app/images/product/sideboard drawers.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
                </a>
                <h4 class="product-name">
                    <a href="{% url 'category' 'CS' %}" class="text-decoration-none text-dark">Cabinets & Sideboards</a>
                </h4>
            </div>
            <div class="col-md-2">
                <a href="{% url 'category' 'RC' %}">
                    <img src="{% static 'app/images/product/download (28).jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
                </a>
                <h4 class="product-name">
                    <a href="{% url 'category' 'RC' %}" class="text-decoration-none text-dark">Recliners</a>
                </h4>
            </div>
            <div class="col-md-2">
                <a href="{% url 'category' 'BS' %}">
                    <img src="{% static 'app/images/product/download (21).jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
                </a>
                <h4 class="product-name">
                    <a href="{% url 'category' 'BS' %}" class="text-decoration-none text-dark">Book Shelves</a>
                </h4>
            </div>
            <div class="col-md-2">
                <a href="{% url 'category' 'OT' %}">
                    <img src="{% static 'app/images/product/ottoman.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
                </a>
                <h4 class="product-name">
                    <a href="{% url 'category' 'OT' %}" class="text-decoration-none text-dark">Ottomans</a>
                </h4>
            </div>
        </div>
    </div>
{% elif request.GET.category == "Sofas/Seating" %}
<div class="container mt-5">
    <h2 h2 style="font-weight: bold; margin: 20px 0; text-align: center;">Sofas/Seating Collection</h2>
    <div class="row">
        <div class="col-md-2">
            <a href="{% url 'category' 'SF' %}">
                <img src="{% static 'app/images/product/download (5).jpg' %}" class="img-fluid rounded shadow product-img " alt="Image 1">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'WS' %}" class="text-decoration-none text-dark">Sofas</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'SS' %}">
                <img src="{% static 'app/images/product/download (4).jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 2">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'SS' %}" class="text-decoration-none text-dark">Sectional Sofas</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'SU' %}">
                <img src="{% static 'app/images/product/download (38).jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'SU' %}" class="text-decoration-none text-dark">Sofas Cum Beds</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'RC' %}">
                <img src="{% static 'app/images/product/download (27).jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'RC' %}" class="text-decoration-none text-dark">Recliner Sets</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'FT' %}">
                <img src="{% static 'app/images/product/download (44).jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'FT' %}" class="text-decoration-none text-dark">Futons</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'CL' %}">
                <img src="{% static 'app/images/product/download (53).jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'CL' %}" class="text-decoration-none text-dark">Chair Loungers</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'SC' %}">
                <img src="{% static 'app/images/product/Arm-Chair.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'SC' %}" class="text-decoration-none text-dark">Sofa Chairs</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'SB' %}">
                <img src="{% static 'app/images/product/images (68).jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'SB' %}" class="text-decoration-none text-dark">Settels & Benches</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'OT' %}">
                <img src="{% static 'app/images/product/Pouf ottoman.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'OT' %}" class="text-decoration-none text-dark">Ottomans</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'OC' %}">
                <img src="{% static 'app/images/product/office chairs.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'OC' %}" class="text-decoration-none text-dark">Office Chairs</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'GC' %}">
                <img src="{% static 'app/images/product/images (72).jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'GC' %}" class="text-decoration-none text-dark">Gaming Chairs</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'OS' %}">
                <img src="{% static 'app/images/product/outdoors.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'OS' %}" class="text-decoration-none text-dark">Outdoor Seating</a>
            </h4>
        </div>
    </div>
</div>
{% elif request.GET.category == "Kitchen/Dining" %}
<div class="container mt-5">
    <h2 h2 style="font-weight: bold; margin: 20px 0; text-align: center;">Kitchen/Dining Collection</h2>
    <div class="row">
        <div class="col-md-2">
            <a href="{% url 'category' 'DT' %}">
                <img src="{% static 'app/images/product/kitchendining.jpg' %}" class="img-fluid rounded shadow product-img " alt="Image 1">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'DT' %}" class="text-decoration-none text-dark">Dining Tables</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'DB' %}">
                <img src="{% static 'app/images/product/dining benches.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 2">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'DB' %}" class="text-decoration-none text-dark">Dining Benches</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'BF' %}">
                <img src="{% static 'app/images/product/bar.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'BF' %}" class="text-decoration-none text-dark">Bar Furniture</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'DC' %}">
                <img src="{% static 'app/images/product/chairdinner.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'DC' %}" class="text-decoration-none text-dark">Dining Chairs</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'CU' %}">
                <img src="{% static 'app/images/product/unique crockery.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'CU' %}" class="text-decoration-none text-dark">Crockery Units</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'DT' %}">
                <img src="{% static 'app/images/product/dinnerset.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'DT' %}" class="text-decoration-none text-dark">Dining Table Sets</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'ST' %}">
                <img src="{% static 'app/images/product/trolleys.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'ST' %}" class="text-decoration-none text-dark">Serving Trolley</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'BW' %}">
                <img src="{% static 'app/images/product/barware.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'BW' %}" class="text-decoration-none text-dark">Barware</a>
            </h4>
        </div>
    </div>
</div>
{% elif request.GET.category == "Living/Bedroom" %}
<div class="container mt-5">
    <h2 h2 style="font-weight: bold; margin: 20px 0; text-align: center;">Living/Bedroom Collection</h2>
    <div class="row">
        <div class="col-md-2">
            <a href="{% url 'category' 'BE' %}">
                <img src="{% static 'app/images/product/images (83).jpg' %}" class="img-fluid rounded shadow product-img " alt="Image 1">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'BE' %}" class="text-decoration-none text-dark">Beds</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'MT' %}">
                <img src="{% static 'app/images/product/mattress.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 2">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'MT' %}" class="text-decoration-none text-dark">Mattresses</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'OT' %}">
                <img src="{% static 'app/images/product/ottoman.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'OT' %}" class="text-decoration-none text-dark">Ottomans</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'CH' %}">
                <img src="{% static 'app/images/product/download (78).jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'CH' %}" class="text-decoration-none text-dark">Chairs</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'TB' %}">
                <img src="{% static 'app/images/product/table.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'TB' %}" class="text-decoration-none text-dark">Tables</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'WD' %}">
                <img src="{% static 'app/images/product/waedrobe.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'WD' %}" class="text-decoration-none text-dark">Wardrobes</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'DM' %}">
                <img src="{% static 'app/images/product/bedroomDresser.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'DM' %}" class="text-decoration-none text-dark">Dresser Mirrors</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'CD' %}">
                <img src="{% static 'app/images/product/Chest mordern.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'CD' %}" class="text-decoration-none text-dark">Chest of Drawers</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'WS' %}">
                <img src="{% static 'app/images/product/Wall Shelves.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'WS' %}" class="text-decoration-none text-dark">Wall Shelves</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'BT' %}">
                <img src="{% static 'app/images/product/Drawers1.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'BT' %}" class="text-decoration-none text-dark">Bed Side Tables</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'SD' %}">
                <img src="{% static 'app/images/product/Desks.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'SD' %}" class="text-decoration-none text-dark">Study Desk</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'OH' %}">
                <img src="{% static 'app/images/product/Occasionals.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'OH' %}" class="text-decoration-none text-dark">Occasional Chairs</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'BS' %}">
                <img src="{% static 'app/images/product/download (20).jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'BS' %}" class="text-decoration-none text-dark">Book Case & Cabinates</a>
            </h4>
        </div>
    </div>
</div>
{% elif request.GET.category == "Outdoor Living" %}
<div class="container mt-5">
    <h2 h2 style="font-weight: bold; margin: 20px 0; text-align: center;">Outdoor Living Collection</h2>
    <div class="row">
        <div class="col-md-2">
            <a href="{% url 'category' 'OS' %}">
                <img src="{% static 'app/images/product/outdoor.jpg' %}" class="img-fluid rounded shadow product-img " alt="Image 1">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'OS' %}" class="text-decoration-none text-dark">Outdoor Sofas & Sectionals</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'BH' %}">
                <img src="{% static 'app/images/product/images (67).jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 2">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'BH' %}" class="text-decoration-none text-dark">Benches</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'OD' %}">
                <img src="{% static 'app/images/product/Outdoor Sets.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'OD' %}" class="text-decoration-none text-dark">Outdoor Dining Sets</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'GF' %}">
                <img src="{% static 'app/images/product/outdoors.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'GF' %}" class="text-decoration-none text-dark">Garden Furniture Sets</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'OB' %}">
                <img src="{% static 'app/images/product/Outdoor Storages.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'OB' %}" class="text-decoration-none text-dark">Outdoor Storage Box</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'OK' %}">
                <img src="{% static 'app/images/product/Outdoor 1.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'OK' %}" class="text-decoration-none text-dark">Outdoor Kitchens & Bars</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'AH' %}">
                <img src="{% static 'app/images/product/Adirondack Chairs1.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'AH' %}" class="text-decoration-none text-dark">Adirondack Chairs</a>
            </h4>
        </div>
    </div>
</div>
{% elif request.GET.category == "Home Decor" %}
<div class="container mt-5">
    <h2 h2 style="font-weight: bold; margin: 20px 0; text-align: center;">Home Decor Collection</h2>
    <div class="row">
        <div class="col-md-2">
            <a href="{% url 'category' 'SI' %}">
                <img src="{% static 'app/images/product/Spiritual4.jpg' %}" class="img-fluid rounded shadow product-img " alt="Image 1">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'SI' %}" class="text-decoration-none text-dark">Spiritual</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'WC' %}">
                <img src="{% static 'app/images/product/Wall Shelves.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 2">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'WC' %}" class="text-decoration-none text-dark">Wall Decor</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'DM' %}">
                <img src="{% static 'app/images/product/Dresser Mirrors.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'DM' %}" class="text-decoration-none text-dark">Mirrors</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'WP' %}">
                <img src="{% static 'app/images/product/Spirituals1.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'WP' %}" class="text-decoration-none text-dark">Wall Art and Paintings</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'WS' %}">
                <img src="{% static 'app/images/product/Wall Shelveing.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'WS' %}" class="text-decoration-none text-dark">Wall Shelves</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'PP' %}">
                <img src="{% static 'app/images/product/Pots and Plant.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'PP' %}" class="text-decoration-none text-dark">Pots and Planters Showpieces</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'VS' %}">
                <img src="{% static 'app/images/product/Vas.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'VS' %}" class="text-decoration-none text-dark">Vasess</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'OE' %}">
                <img src="{% static 'app/images/product/download (28).jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'OE' %}" class="text-decoration-none text-dark">Outdoor Decor</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'WH' %}">
                <img src="{% static 'app/images/product/download (21).jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'WH' %}" class="text-decoration-none text-dark">Wall Hangings</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'CB' %}">
                <img src="{% static 'app/images/product/ottoman.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'CB' %}" class="text-decoration-none text-dark">Collectibles</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'PF' %}">
                <img src="{% static 'app/images/product/ottoman.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'PF' %}" class="text-decoration-none text-dark">Photo Frames</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'HF' %}">
                <img src="{% static 'app/images/product/ottoman.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'HF' %}" class="text-decoration-none text-dark">Home Fragrances</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'JK' %}">
                <img src="{% static 'app/images/product/ottoman.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'JK' %}" class="text-decoration-none text-dark">Jharokhas</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'FD' %}">
                <img src="{% static 'app/images/product/ottoman.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'FD' %}" class="text-decoration-none text-dark">Festive Decor</a>
            </h4>
        </div>
    </div>
</div>

{% elif request.GET.category == "Home Appliances" %}
<div class="container mt-5">
    <h2 h2 style="font-weight: bold; margin: 20px 0; text-align: center;">Home Appliances Collection</h2>
    <div class="row">
        <div class="col-md-2">
            <a href="{% url 'category' 'DW' %}">
                <img src="{% static 'app/images/product/Dishwasher.jpg' %}" class="img-fluid rounded shadow product-img " alt="Image 1">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'DW' %}" class="text-decoration-none text-dark">Dishwasher</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'WG' %}">
                <img src="{% static 'app/images/product/WaterGeyser.jpg' %}" class="img-fluid rounded shadow product-img " alt="Image 1">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'WG' %}" class="text-decoration-none text-dark">WaterGeyser</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'RG' %}">
                <img src="{% static 'app/images/product/fridge double door.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 2">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'RG' %}" class="text-decoration-none text-dark">Refrigerators</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'WP' %}">
                <img src="{% static 'app/images/product/water Purifiers.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'WP' %}" class="text-decoration-none text-dark">Water Purifiers</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'MO' %}">
                <img src="{% static 'app/images/product/Microwave Ovens3.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'MO' %}" class="text-decoration-none text-dark">Microwave Ovens</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'LN' %}">
                <img src="{% static 'app/images/product/washing machine.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'LN' %}" class="text-decoration-none text-dark">Laundry</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'MX' %}">
                <img src="{% static 'app/images/product/Mixer Grinder.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'MX' %}" class="text-decoration-none text-dark">Mixer</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'EI' %}">
                <img src="{% static 'app/images/product/electric-iron.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'EI' %}" class="text-decoration-none text-dark">Electric Iron</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'IN' %}">
                <img src="{% static 'app/images/product/indection.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'IN' %}" class="text-decoration-none text-dark">Indection</a>
            </h4>
        </div>
    </div>
</div>
{% elif request.GET.category == "Electronics" %}
<div class="container mt-5">
    <h2 h2 style="font-weight: bold; margin: 20px 0; text-align: center;">Electronics Collection</h2>
    <div class="row">
        <div class="col-md-2">
            <a href="{% url 'category' 'WM' %}">
                <img src="{% static 'app/images/product/Washing and Dryer machine.jpg' %}" class="img-fluid rounded shadow product-img " alt="Image 1">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'WM' %}" class="text-decoration-none text-dark">Washing Machines</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'RG' %}">
                <img src="{% static 'app/images/product/refridgereter.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 2">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'RG' %}" class="text-decoration-none text-dark">Refrigerators</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'MO' %}">
                <img src="{% static 'app/images/product/Microwave Ovens2.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'MO' %}" class="text-decoration-none text-dark">Microwave Ovens</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'WP' %}">
                <img src="{% static 'app/images/product/water Purifiers1.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'WP' %}" class="text-decoration-none text-dark">Water Purifiers</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'TV' %}">
                <img src="{% static 'app/images/product/smart-led-tv.png' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'TV' %}" class="text-decoration-none text-dark">TVs</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'AP' %}">
                <img src="{% static 'app/images/product/Purifiers air.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'AP' %}" class="text-decoration-none text-dark">Air Purifiers</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'AC' %}">
                <img src="{% static 'app/images/product/air-conditioner.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'AC' %}" class="text-decoration-none text-dark">Air Conditioners</a>
            </h4>
        </div>
        
    </div>
</div>

{% elif request.GET.category == "Lamps/Lighting" %}
<div class="container mt-5">
    <h2 h2 style="font-weight: bold; margin: 20px 0; text-align: center;">Lamps/Lighting Collection</h2>
    <div class="row">
        <div class="col-md-2">
            <a href="{% url 'category' 'FL' %}">
                <img src="{% static 'app/images/product/Floor Lamps1.jpg' %}" class="img-fluid rounded shadow product-img " alt="Image 1">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'FL' %}" class="text-decoration-none text-dark">Floor Lamps</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'TL' %}">
                <img src="{% static 'app/images/product/Table Lamps2.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 2">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'TL' %}" class="text-decoration-none text-dark">Table Lamps</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'CG' %}">
                <img src="{% static 'app/images/product/Ceiling Lights2.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'CG' %}" class="text-decoration-none text-dark">Ceiling Lights</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'NL' %}">
                <img src="{% static 'app/images/product/Night Lamps.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'NL' %}" class="text-decoration-none text-dark">Night Lamps</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'WL' %}">
                <img src="{% static 'app/images/product/Wall Lights.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'WL' %}" class="text-decoration-none text-dark">Wall Lights</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'LS' %}">
                <img src="{% static 'app/images/product/Lamp Shades.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'LS' %}" class="text-decoration-none text-dark">Lamp Shades</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'WSL' %}">
                <img src="{% static 'app/images/product/Work and Study Lamps.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'WSL' %}" class="text-decoration-none text-dark">Work and Study Lamps</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'OL' %}">
                <img src="{% static 'app/images/product/Outdoor Lights4.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'OL' %}" class="text-decoration-none text-dark">Outdoor Lights</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'DL' %}">
                <img src="{% static 'app/images/product/Decorative Lights2.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'DL' %}" class="text-decoration-none text-dark">Decorative Lights</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'BU' %}">
                <img src="{% static 'app/images/product/Bulbs2.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'BU' %}" class="text-decoration-none text-dark">Bulbs</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'EL' %}">
                <img src="{% static 'app/images/product/Emergency Lights.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'EL' %}" class="text-decoration-none text-dark">Emergency Lights</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'KL' %}">
                <img src="{% static 'app/images/product/Kids Lamps1.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'KL' %}" class="text-decoration-none text-dark">Kids Lamps</a>
            </h4>
        </div>
    </div>
</div>
</div>
{% elif request.GET.category == "TV/Vedio/Audio" %}
<div class="container mt-5">
    <h2 h2 style="font-weight: bold; margin: 20px 0; text-align: center;">TV/Vedio/Audio Collection</h2>
    <div class="row">
        <div class="col-md-2">
            <a href="{% url 'category' 'TVS' %}">
                <img src="{% static 'app/images/product/Smart TV (2).jpg' %}" class="img-fluid rounded shadow product-img " alt="Image 1">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'WS' %}" class="text-decoration-none text-dark">TV & Soundbars</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'STV' %}">
                <img src="{% static 'app/images/product/telivision.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 2">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'STV' %}" class="text-decoration-none text-dark">webOS for Smart TV</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'TV' %}">
                <img src="{% static 'app/images/product/TV.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'TV' %}" class="text-decoration-none text-dark">TV by Size</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'AU' %}">
                <img src="{% static 'app/images/product/audio1.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'AU' %}" class="text-decoration-none text-dark">Audio</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'PJ' %}">
                <img src="{% static 'app/images/product/Projectors4.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'PJ' %}" class="text-decoration-none text-dark">Projectors</a>
            </h4>
        </div>
    </div>
</div>
{% elif request.GET.category == "Air Solutions" %}
<div class="container mt-5">
    <h2 h2 style="font-weight: bold; margin: 20px 0; text-align: center;">Air Solutions Collection</h2>
    <div class="row">
        <div class="col-md-2">
            <a href="{% url 'category' 'AC' %}">
                <img src="{% static 'app/images/product/air-conditioner.jpg' %}" class="img-fluid rounded shadow product-img " alt="Image 1">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'AC' %}" class="text-decoration-none text-dark">Air Conditioners</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'AP' %}">
                <img src="{% static 'app/images/product/Purifiers air2.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'AP' %}" class="text-decoration-none text-dark">Air Care</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'CO' %}">
                <img src="{% static 'app/images/product/Air Cooler.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'CO' %}" class="text-decoration-none text-dark">Cooler</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'FA' %}">
                <img src="{% static 'app/images/product/ceilingfan.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'FA' %}" class="text-decoration-none text-dark">Fan</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'TF' %}">
                <img src="{% static 'app/images/product/TABLE-FAN.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'TF' %}" class="text-decoration-none text-dark">Table Fan</a>
            </h4>
        </div>
    </div>
</div>
{% elif request.GET.category == "Computing/Mobile" %}
<div class="container mt-5">
    <h2 style="font-weight: bold; margin: 15px 10; text-align: center;">Computing/Mobile Collection</h2>
    <div class="row">
        <div class="col-md-2">
            <a href="{% url 'category' 'MB' %}">
                <img src="{% static 'app/images/product/mob.jpg' %}" class="img-fluid rounded shadow product-img " alt="Image 1">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'MB' %}" class="text-decoration-none text-dark">Mobile</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'MN' %}">
                <img src="{% static 'app/images/product/moniters3.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 2">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'MN' %}" class="text-decoration-none text-dark">Moniters</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'LP' %}">
                <img src="{% static 'app/images/product/zenbook.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'LP' %}" class="text-decoration-none text-dark">Laptop</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'KB' %}">
                <img src="{% static 'app/images/product/key.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'KB' %}" class="text-decoration-none text-dark">Keyboard</a>
            </h4>
        </div>
        <div class="col-md-2">
            <a href="{% url 'category' 'MO' %}">
                <img src="{% static 'app/images/product/mousecom.jpg' %}" class="img-fluid rounded shadow product-img" alt="Image 3">
            </a>
            <h4 class="product-name">
                <a href="{% url 'category' 'MO' %}" class="text-decoration-none text-dark">Mouse</a>
            </h4>
        </div>
    </div>
</div>
{% endif %}

<style>
    /* Styling for heading */
    .category-heading {
        text-align: center;
        font-size: 28px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
        text-decoration: underline;
        color: #333; /* Dark gray */
    }

    /* Make all images the same size */
    .product-img {
        width: 80%;
        height: 200px; /* Fixed height */
        object-fit: cover; /* Ensures images do not stretch */
        border-radius: 10px; /* Rounded corners */
        transition: transform 0.3s ease-in-out; /* Smooth zoom effect */
    }

    /* Hover effect: Zoom in on image */
    .product-img:hover {
        transform: scale(1.05);
    }

    .product-name:hover {
        color: #ff6600; /* Change color on hover */
        text-decoration: underline; /* Underline on hover */
        cursor: pointer; /* Change cursor to pointer */
        transform: scale(1.2);
        font-size: 18px;
    }
    .product-name {
        margin-top: 3px; /* Space between image and text */
        font-size: 18px; /* Adjust font size */
        font-weight: bold; /* Make text bold */
        text-align: center;
        color: #333; /* Dark grey color */
        transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out; 
    }
    .product-name a {
        color: #333; /* Default color */
        transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
    }

    .product-name a:hover {
        color: #ff6600 !important; /* Force color change */
        text-decoration: underline;
    }
    .shop-heading {
        text-align: center; 
        font-size: 2.5rem;  /* Adjust size if needed */
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 30px; 
    }
    .container .row img {
        margin-top: 10px;
        width: 250px; /* Set a fixed width */
        height: 180px; /* Set a fixed height */
        object-fit: cover; /* Ensures images fill the space while maintaining aspect ratio */
        border-radius: 20px; /* Optional: adds rounded corners */
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* Optional: adds shadow */
        margin-bottom: 20px;
        transition: transform 0.3s ease-in-out; /* Smooth transition effect */
    }
</style>
{% endblock main-content %}