{% extends "myapp/basic.html" %}
{% load static %}
{% block title %}Register{% endblock title %}

{% block main-content %}

<div class="container">
    <div class="row my-4">
        <div class="col-sm-4 offset-sm-4">
            <h2>Customer Registration</h2>
            <hr>
            <form action="" method="post" enctype="multipart/form-data" novalidate class="shadow p-5">
        
                {% csrf_token %}
        
                {% if messages %}
                {{ message.tags }}
                <div class="alert alert-primary" role="alert">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                </div>
                {% endif %}

                <label for="first"> First Name: </label>
                <br>
                <input type="text" id="first" name="first_name" placeholder="Enter your Username" required>
                <br><br>
                <label for="first"> Last Name: </label>
                <br>
                <input type="text" id="first" name="last_name" placeholder="Enter your Username" required>
                <br><br>
                <label for="first"> Username: </label>
                <br>
                <input type="text" id="first" name="username" placeholder="Enter your Username" required>
                <br><br>
                <label for="password"> Password: </label>
                <br>
                <input type="password" id="password" name="password" placeholder="Enter your Password" required>
                <br><br>
                <label for="email"> Email: </label>
                <br>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
                <br><br>
                
                <button type="submit" name="submit_type" class="btn btn-primary"> Submit </button>
                <div class="text-center text-primary fw-bold">
                    <small>Existing User ? <a href="/login/" class="text-danger">Login Now</a></small>
                </div>
        
        
            
            </form>
        </div>
    </div>
    
</div>


{% endblock main-content %}
